alias config='/usr/bin/git --git-dir=$HOME/.myconf/ --work-tree=$HOME'
#alias tmux attach -t $var  || tmux new -s $var
#read github for good docker aliases
alias dnmap='docker run --rm nmap'
alias dwpscan='docker run --rm nmap'
alias dipython='docker run -it --mount src="$(pwd)",target=/home,type=bind codeblu3/pentesttools /bin/sh'
alias dpython=' docker run -it --mount src="$(pwd)",target=/home,type=bind codeblu3/pentesttools'
alias dyoutube-dl='docker run --rm -u $(id -u):$(id -g) -v $HOME/Downloads/youtube:/data vimagick/youtube-dl'
